DEMOCRACYROUTES_CALL_BASE_URL=/video
NEXTAUTH_SECRET=change-me
DATABASE_URL="file:./dev.db"
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin1234
WORKFLOW_API_KEY=6c8ce7c23fbed5753265f83b746150f919193a58fb9f1374dc5e187452006107
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="dr-app Manager <no-reply@tuodominio.tld>"
APP_BASE_URL=http://localhost:3015
NEXTAUTH_URL=http://localhost:3015
ANALYZE_TABLES_API_URL=http://localhost:3001
ANALYZE_TABLES_API_KEY=change-me
DEEPGRAM_BASE_URL=http://localhost:3000
VOSK_BASE_URL=http://localhost:3009
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
MEDITATION_AUDIO_DIR=./data/meditation-audio
